@model Core.Models.Playlist
@{
    ViewData["Title"] = "VideoList";    
}

<h3>Playlist Detail</h3>

@Model.Title
@Model.Description
<p></p>
<div>
    @if (Model.Videos?.Count > 0)
    {
        @foreach (var item in Model.Videos)
        {
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="@item.Url" class="img-thumbnail">
                        </div>
                        <div class="col-sm-8">
                            <h6 class="card-title">@item.Title</h6>
                            <p class="card-text">@item.Description</p>
                            @{ 
                                var btnRemoveParams = new Dictionary<string, string>
                                    {
                                        { "videoId", item.Id },
                                        { "playlistId", Model.Id.ToString() }
                                    };
                            }
                            <a id="btnRemoveFromPlaylist" class="btn btn-sm btn-info" 
                                asp-action="RemoveVideoFromPlaylist"
                                asp-all-route-data="btnRemoveParams">Remove From Playlist</a>
                            <a href="https://www.youtube.com/watch?v=@item.Id" target="_blank" class="btn btn-sm btn-info">Watch on Youtube</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>