@model Core.ViewModels.SearchResultViewModel
@{
    ViewData["Title"] = "Home Page";
    var searchText = ViewBag.searchText;
    var nextToken = Model.nextPageToken;
    var prevToken = Model.prevPageToken;
    var valorSelect = "";
    string videoId = "";
}

<h3 class="text-center">YouTube Search</h3>
<div class="d-flex justify-content-center">    
    <div class="input-group" style="max-width:400px">
        <input asp-for="@searchText" class="form-control" />            
        <div class="input-group-append">
            <button id="btnSearch" type="button" class="btn btn-info">Search</button>                
        </div>
    </div>
</div>
<p></p>
<div>
    @foreach (var item in Model.Videos)
    {
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="@item.Url" class="img-thumbnail">
                    </div>
                    <div class="col-sm-8">
                        <h6 class="card-title">@item.Title</h6>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">
                            Playlists:
                            @foreach (var playlist in item.Playlists)
                            {
                                <span class="text-info">@playlist.Title</span>
                            }
                        </p>
                        <button id="btnAddPlaylist" data-value="@item.Id" type="button" data-toggle="modal" data-target="#playlistModal" class="btn btn-sm btn-info btnAddPlaylist">Add to Playlist</button>
                        <a href="https://www.youtube.com/watch?v=@item.Id" target="_blank" class="btn btn-sm btn-info">Watch on Youtube</a>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="text-center">
    <div class="btn-group" role="group">
        <button type="button" id="btnPrevPage" class="btn btn-outline-info"
                disabled="@(prevToken == null ? "disabled" : null)">Prev</button>
        <button type="button" id="btnNextPage" class="btn btn-outline-info">Next</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="playlistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add to Playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="AddVideoToPlaylist">
                <div class="modal-body">

                    <input type="hidden" readonly asp-for="@videoId" />
                    <select asp-for="@valorSelect" asp-items="@ViewBag.playlists">
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(".btnAddPlaylist").click(function (e) {
        $("#videoId").val($(this).data("value"));
    });

    $("#btnPrevPage").click(function (e) {
        location.href = 'https://localhost:44370/?searchText=@searchText&pageToken=@prevToken';
    });

    $("#btnNextPage").click(function (e) {
        location.href = 'https://localhost:44370/?searchText=@searchText&pageToken=@nextToken';
    });

    $("#btnSearch").click(function (e) {
        let search = $('#searchText').val();
        location.href = 'https://localhost:44370/?searchText=' + search;
    });




</script>
